.md-nav--primary ul,
.md-nav--primary ul li ul,
.md-nav--secondary ul,
.md-nav--secondary ul li ul {
    list-style-image: initial;
}
code.xref {
    background-color: transparent;
}
ul.search li div.context {
    color: rgb(157, 148, 136);
}
span.highlighted {
    background-color: rgb(156, 137, 4);
}
.longtable tr {
    border-color: initial;
}
.longtable tr:first-child {
    border-top-color: initial;
}
.md-tabs code,
kbd,
pre,
.md-footer-nav code,
kbd,
pre {
    color: rgb(232, 230, 227);
}
.toctree-wrapper.compound li {
    list-style-image: initial;
}
table.indextable.genindextable li ul li {
    list-style-image: initial;
}
.md-nav__extra_link:active {
    color: rgb(109, 149, 204);
}
.md-nav__extra_link:focus,
.md-nav__extra_link:hover {
    color: rgb(84, 156, 254); 
}
[data-md-color-primary="red"] .md-nav__extra_link:active {
    color: rgb(240, 89, 86); 
}
[data-md-color-primary="red"] .md-nav__item--nested > .md-nav__extra_link {
    color: inherit; 
}
[data-md-color-primary="pink"] .md-nav__extra_link:active {
    color: rgb(235, 51, 114); 
}
[data-md-color-primary="pink"] .md-nav__item--nested > .md-nav__extra_link {
    color: inherit; 
}
[data-md-color-primary="purple"] .md-nav__extra_link:active {
    color: rgb(179, 89, 194); 
}
[data-md-color-primary="purple"] .md-nav__item--nested > .md-nav__extra_link {
    color: inherit; 
}
[data-md-color-primary="deep-purple"] .md-nav__extra_link:active {
    color: rgb(136, 100, 199); 
}
[data-md-color-primary="deep-purple"] .md-nav__item--nested > .md-nav__extra_link {
    color: inherit; 
}
[data-md-color-primary="indigo"] .md-nav__extra_link:active {
    color: rgb(109, 149, 204); 
}
[data-md-color-primary="indigo"] .md-nav__item--nested > .md-nav__extra_link {
    color: inherit; 
}
[data-md-color-primary="blue"] .md-nav__extra_link:active {
    color: rgb(51, 162, 244); 
}
[data-md-color-primary="blue"] .md-nav__item--nested > .md-nav__extra_link {
    color: inherit; 
}
[data-md-color-primary="light-blue"] .md-nav__extra_link:active {
    color: rgb(34, 184, 252); 
}
[data-md-color-primary="light-blue"] .md-nav__item--nested > .md-nav__extra_link {
    color: inherit; 
}
[data-md-color-primary="cyan"] .md-nav__extra_link:active {
    color: rgb(56, 232, 255); 
}
[data-md-color-primary="cyan"] .md-nav__item--nested > .md-nav__extra_link {
    color: inherit; 
}
[data-md-color-primary="teal"] .md-nav__extra_link:active {
    color: rgb(99, 255, 240); 
}
[data-md-color-primary="teal"] .md-nav__item--nested > .md-nav__extra_link {
    color: inherit; 
}
[data-md-color-primary="green"] .md-nav__extra_link:active {
    color: rgb(97, 186, 101); 
}
[data-md-color-primary="green"] .md-nav__item--nested > .md-nav__extra_link {
    color: inherit; 
}
[data-md-color-primary="light-green"] .md-nav__extra_link:active {
    color: rgb(145, 195, 92); 
}
[data-md-color-primary="light-green"] .md-nav__item--nested > .md-nav__extra_link {
    color: inherit; 
}
[data-md-color-primary="lime"] .md-nav__extra_link:active {
    color: rgb(200, 209, 73); 
}
[data-md-color-primary="lime"] .md-nav__item--nested > .md-nav__extra_link {
    color: inherit; 
}
[data-md-color-primary="yellow"] .md-nav__extra_link:active {
    color: rgb(249, 174, 53); 
}
[data-md-color-primary="yellow"] .md-nav__item--nested > .md-nav__extra_link {
    color: inherit; 
}
[data-md-color-primary="amber"] .md-nav__extra_link:active {
    color: rgb(255, 170, 26); 
}
[data-md-color-primary="amber"] .md-nav__item--nested > .md-nav__extra_link {
    color: inherit; 
}
[data-md-color-primary="orange"] .md-nav__extra_link:active {
    color: rgb(255, 155, 28); 
}
[data-md-color-primary="orange"] .md-nav__item--nested > .md-nav__extra_link {
    color: inherit; 
}
[data-md-color-primary="deep-orange"] .md-nav__extra_link:active {
    color: rgb(255, 116, 72); 
}
[data-md-color-primary="deep-orange"] .md-nav__item--nested > .md-nav__extra_link {
    color: inherit; 
}
[data-md-color-primary="brown"] .md-nav__extra_link:active {
    color: rgb(186, 151, 138); 
}
[data-md-color-primary="brown"] .md-nav__item--nested > .md-nav__extra_link {
    color: inherit; 
}
[data-md-color-primary="grey"] .md-nav__extra_link:active {
    color: rgb(158, 150, 137); 
}
[data-md-color-primary="grey"] .md-nav__item--nested > .md-nav__extra_link {
    color: inherit; 
}
[data-md-color-primary="blue-grey"] .md-nav__extra_link:active {
    color: rgb(167, 159, 148); 
}
[data-md-color-primary="blue-grey"] .md-nav__item--nested > .md-nav__extra_link {
    color: inherit; 
}
[data-md-color-accent="red"] .md-nav__extra_link:focus, [data-md-color-accent="red"] .md-nav__extra_link:hover {
    color: rgb(255, 42, 83); 
}
[data-md-color-accent="pink"] .md-nav__extra_link:focus, [data-md-color-accent="pink"] .md-nav__extra_link:hover {
    color: rgb(255, 33, 112); 
}
[data-md-color-accent="purple"] .md-nav__extra_link:focus, [data-md-color-accent="purple"] .md-nav__extra_link:hover {
    color: rgb(225, 71, 251); 
}
[data-md-color-accent="deep-purple"] .md-nav__extra_link:focus, [data-md-color-accent="deep-purple"] .md-nav__extra_link:hover {
    color: rgb(126, 79, 255); 
}
[data-md-color-accent="indigo"] .md-nav__extra_link:focus, [data-md-color-accent="indigo"] .md-nav__extra_link:hover {
    color: rgb(84, 156, 254); 
}
[data-md-color-accent="blue"] .md-nav__extra_link:focus, [data-md-color-accent="blue"] .md-nav__extra_link:hover {
    color: rgb(73, 165, 255); 
}
[data-md-color-accent="light-blue"] .md-nav__extra_link:focus, [data-md-color-accent="light-blue"] .md-nav__extra_link:hover {
    color: rgb(40, 173, 255); 
}
[data-md-color-accent="cyan"] .md-nav__extra_link:focus, [data-md-color-accent="cyan"] .md-nav__extra_link:hover {
    color: rgb(56, 229, 255); 
}
[data-md-color-accent="teal"] .md-nav__extra_link:focus, [data-md-color-accent="teal"] .md-nav__extra_link:hover {
    color: rgb(70, 255, 230); 
}
[data-md-color-accent="green"] .md-nav__extra_link:focus, [data-md-color-accent="green"] .md-nav__extra_link:hover {
    color: rgb(64, 255, 143); 
}
[data-md-color-accent="light-green"] .md-nav__extra_link:focus, [data-md-color-accent="light-green"] .md-nav__extra_link:hover {
    color: rgb(124, 234, 54); 
}
[data-md-color-accent="lime"] .md-nav__extra_link:focus, [data-md-color-accent="lime"] .md-nav__extra_link:hover {
    color: rgb(200, 255, 40); 
}
[data-md-color-accent="yellow"] .md-nav__extra_link:focus, [data-md-color-accent="yellow"] .md-nav__extra_link:hover {
    color: rgb(255, 218, 26); 
}
[data-md-color-accent="amber"] .md-nav__extra_link:focus, [data-md-color-accent="amber"] .md-nav__extra_link:hover {
    color: rgb(255, 179, 26); 
}
[data-md-color-accent="orange"] .md-nav__extra_link:focus, [data-md-color-accent="orange"] .md-nav__extra_link:hover {
    color: rgb(255, 156, 26); 
}
[data-md-color-accent="deep-orange"] .md-nav__extra_link:focus, [data-md-color-accent="deep-orange"] .md-nav__extra_link:hover {
    color: rgb(255, 115, 70);
}
.md-nav span.caption:hover,
.md-nav span.caption:active {
    color: rgb(232, 230, 227);
}

.md-typeset img.align-right {
    clear: right;
    float: right;
    margin-left: 1em;
}

.md-typeset img.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* GH 93 */
dl.citation dt span.brackets {
  margin-right: 0.3rem;
}
