button[data-md-color-accent],
button[data-md-color-primary] {
    color: rgb(232, 230, 227); 
}
button[data-md-color-primary="red"] {
    background-color: rgb(152, 16, 14); 
}
[data-md-color-primary="red"] .md-typeset a {
    color: rgb(240, 89, 86); 
}
[data-md-color-primary="red"] .md-header, [data-md-color-primary="red"] .md-hero {
    background-color: rgb(152, 16, 14); 
}
[data-md-color-primary="red"] .md-nav__link--active, [data-md-color-primary="red"] .md-nav__link:active {
    color: rgb(240, 89, 86); 
}
[data-md-color-primary="red"] .md-nav__item--nested > .md-nav__link {
    color: inherit; 
}
button[data-md-color-primary="pink"] {
    background-color: rgb(181, 18, 73); 
}
[data-md-color-primary="pink"] .md-typeset a {
    color: rgb(235, 51, 114); 
}
[data-md-color-primary="pink"] .md-header, [data-md-color-primary="pink"] .md-hero {
    background-color: rgb(181, 18, 73); 
}
[data-md-color-primary="pink"] .md-nav__link--active, [data-md-color-primary="pink"] .md-nav__link:active {
    color: rgb(235, 51, 114); 
}
[data-md-color-primary="pink"] .md-nav__item--nested > .md-nav__link {
    color: inherit; 
}
button[data-md-color-primary="purple"] {
    background-color: rgb(134, 54, 148); 
}
[data-md-color-primary="purple"] .md-typeset a {
    color: rgb(179, 89, 194); 
}
[data-md-color-primary="purple"] .md-header, [data-md-color-primary="purple"] .md-hero {
    background-color: rgb(134, 54, 148); 
}
[data-md-color-primary="purple"] .md-nav__link--active, [data-md-color-primary="purple"] .md-nav__link:active {
    color: rgb(179, 89, 194); 
}
[data-md-color-primary="purple"] .md-nav__item--nested > .md-nav__link {
    color: inherit; 
}
button[data-md-color-primary="deep-purple"] {
    background-color: rgb(82, 50, 138); 
}
[data-md-color-primary="deep-purple"] .md-typeset a {
    color: rgb(136, 100, 199); 
}
[data-md-color-primary="deep-purple"] .md-header, [data-md-color-primary="deep-purple"] .md-hero {
    background-color: rgb(82, 50, 138); 
}
[data-md-color-primary="deep-purple"] .md-nav__link--active, [data-md-color-primary="deep-purple"] .md-nav__link:active {
    color: rgb(136, 100, 199); 
}
[data-md-color-primary="deep-purple"] .md-nav__item--nested > .md-nav__link {
    color: inherit; 
}
button[data-md-color-primary="indigo"] {
    background-color: rgb(50, 65, 145); 
}
[data-md-color-primary="indigo"] .md-typeset a {
    color: rgb(109, 149, 204); 
}
[data-md-color-primary="indigo"] .md-header, [data-md-color-primary="indigo"] .md-hero {
    background-color: rgb(50, 65, 145); 
}
[data-md-color-primary="indigo"] .md-nav__link--active, [data-md-color-primary="indigo"] .md-nav__link:active {
    color: rgb(109, 149, 204); 
}
[data-md-color-primary="indigo"] .md-nav__item--nested > .md-nav__link {
    color: inherit; 
}
button[data-md-color-primary="blue"] {
    background-color: rgb(10, 106, 182); 
}
[data-md-color-primary="blue"] .md-typeset a {
    color: rgb(51, 162, 244); 
}
[data-md-color-primary="blue"] .md-header, [data-md-color-primary="blue"] .md-hero {
    background-color: rgb(10, 106, 182); 
}
[data-md-color-primary="blue"] .md-nav__link--active, [data-md-color-primary="blue"] .md-nav__link:active {
    color: rgb(51, 162, 244); 
}
[data-md-color-primary="blue"] .md-nav__item--nested > .md-nav__link {
    color: inherit; 
}
button[data-md-color-primary="light-blue"] {
    background-color: rgb(2, 135, 195); 
}
[data-md-color-primary="light-blue"] .md-typeset a {
    color: rgb(34, 184, 252); 
}
[data-md-color-primary="light-blue"] .md-header, [data-md-color-primary="light-blue"] .md-hero {
    background-color: rgb(2, 135, 195); 
}
[data-md-color-primary="light-blue"] .md-nav__link--active, [data-md-color-primary="light-blue"] .md-nav__link:active {
    color: rgb(34, 184, 252); 
}
[data-md-color-primary="light-blue"] .md-nav__item--nested > .md-nav__link {
    color: inherit; 
}
button[data-md-color-primary="cyan"] {
    background-color: rgb(0, 150, 170); 
}
[data-md-color-primary="cyan"] .md-typeset a {
    color: rgb(56, 232, 255); 
}
[data-md-color-primary="cyan"] .md-header, [data-md-color-primary="cyan"] .md-hero {
    background-color: rgb(0, 150, 170); 
}
[data-md-color-primary="cyan"] .md-nav__link--active, [data-md-color-primary="cyan"] .md-nav__link:active {
    color: rgb(56, 232, 255); 
}
[data-md-color-primary="cyan"] .md-nav__item--nested > .md-nav__link {
    color: inherit; 
}
button[data-md-color-primary="teal"] {
    background-color: rgb(0, 120, 109); 
}
[data-md-color-primary="teal"] .md-typeset a {
    color: rgb(99, 255, 240); 
}
[data-md-color-primary="teal"] .md-header, [data-md-color-primary="teal"] .md-hero {
    background-color: rgb(0, 120, 109); 
}
[data-md-color-primary="teal"] .md-nav__link--active, [data-md-color-primary="teal"] .md-nav__link:active {
    color: rgb(99, 255, 240); 
}
[data-md-color-primary="teal"] .md-nav__item--nested > .md-nav__link {
    color: inherit; 
}
button[data-md-color-primary="green"] {
    background-color: rgb(61, 140, 64); 
}
[data-md-color-primary="green"] .md-typeset a {
    color: rgb(97, 186, 101); 
}
[data-md-color-primary="green"] .md-header, [data-md-color-primary="green"] .md-hero {
    background-color: rgb(61, 140, 64); 
}
[data-md-color-primary="green"] .md-nav__link--active, [data-md-color-primary="green"] .md-nav__link:active {
    color: rgb(97, 186, 101); 
}
[data-md-color-primary="green"] .md-nav__item--nested > .md-nav__link {
    color: inherit; 
}
button[data-md-color-primary="light-green"] {
    background-color: rgb(99, 143, 53); 
}
[data-md-color-primary="light-green"] .md-typeset a {
    color: rgb(145, 195, 92); 
}
[data-md-color-primary="light-green"] .md-header, [data-md-color-primary="light-green"] .md-hero {
    background-color: rgb(99, 143, 53); 
}
[data-md-color-primary="light-green"] .md-nav__link--active, [data-md-color-primary="light-green"] .md-nav__link:active {
    color: rgb(145, 195, 92); 
}
[data-md-color-primary="light-green"] .md-nav__item--nested > .md-nav__link {
    color: inherit; 
}
button[data-md-color-primary="lime"] {
    background-color: rgb(154, 162, 41); 
}
[data-md-color-primary="lime"] .md-typeset a {
    color: rgb(200, 209, 73); 
}
[data-md-color-primary="lime"] .md-header, [data-md-color-primary="lime"] .md-hero {
    background-color: rgb(154, 162, 41); 
}
[data-md-color-primary="lime"] .md-nav__link--active, [data-md-color-primary="lime"] .md-nav__link:active {
    color: rgb(200, 209, 73); 
}
[data-md-color-primary="lime"] .md-nav__item--nested > .md-nav__link {
    color: inherit; 
}
button[data-md-color-primary="yellow"] {
    background-color: rgb(180, 113, 5); 
}
[data-md-color-primary="yellow"] .md-typeset a {
    color: rgb(249, 174, 53); 
}
[data-md-color-primary="yellow"] .md-header, [data-md-color-primary="yellow"] .md-hero {
    background-color: rgb(180, 113, 5); 
}
[data-md-color-primary="yellow"] .md-nav__link--active, [data-md-color-primary="yellow"] .md-nav__link:active {
    color: rgb(249, 174, 53); 
}
[data-md-color-primary="yellow"] .md-nav__item--nested > .md-nav__link {
    color: inherit; 
}
button[data-md-color-primary="amber"] {
    background-color: rgb(204, 128, 0); 
}
[data-md-color-primary="amber"] .md-typeset a {
    color: rgb(255, 170, 26); 
}
[data-md-color-primary="amber"] .md-header, [data-md-color-primary="amber"] .md-hero {
    background-color: rgb(204, 128, 0); 
}
[data-md-color-primary="amber"] .md-nav__link--active, [data-md-color-primary="amber"] .md-nav__link:active {
    color: rgb(255, 170, 26); 
}
[data-md-color-primary="amber"] .md-nav__item--nested > .md-nav__link {
    color: inherit; 
}
button[data-md-color-primary="orange"] {
    background-color: rgb(201, 112, 0); 
}
[data-md-color-primary="orange"] .md-typeset a {
    color: rgb(255, 155, 28); 
}
[data-md-color-primary="orange"] .md-header, [data-md-color-primary="orange"] .md-hero {
    background-color: rgb(201, 112, 0); 
}
[data-md-color-primary="orange"] .md-nav__link--active, [data-md-color-primary="orange"] .md-nav__link:active {
    color: rgb(255, 155, 28); 
}
[data-md-color-primary="orange"] .md-nav__item--nested > .md-nav__link {
    color: inherit; 
}
button[data-md-color-primary="deep-orange"] {
    background-color: rgb(164, 39, 0); 
}
[data-md-color-primary="deep-orange"] .md-typeset a {
    color: rgb(255, 116, 72); 
}
[data-md-color-primary="deep-orange"] .md-header, [data-md-color-primary="deep-orange"] .md-hero {
    background-color: rgb(164, 39, 0); 
}
[data-md-color-primary="deep-orange"] .md-nav__link--active, [data-md-color-primary="deep-orange"] .md-nav__link:active {
    color: rgb(255, 116, 72); 
}
[data-md-color-primary="deep-orange"] .md-nav__item--nested > .md-nav__link {
    color: inherit; 
}
button[data-md-color-primary="brown"] {
    background-color: rgb(97, 68, 58); 
}
[data-md-color-primary="brown"] .md-typeset a {
    color: rgb(186, 151, 138); 
}
[data-md-color-primary="brown"] .md-header, [data-md-color-primary="brown"] .md-hero {
    background-color: rgb(97, 68, 58); 
}
[data-md-color-primary="brown"] .md-nav__link--active, [data-md-color-primary="brown"] .md-nav__link:active {
    color: rgb(186, 151, 138); 
}
[data-md-color-primary="brown"] .md-nav__item--nested > .md-nav__link {
    color: inherit; 
}
button[data-md-color-primary="grey"] {
    background-color: rgb(88, 95, 99); 
}
[data-md-color-primary="grey"] .md-typeset a {
    color: rgb(158, 150, 137); 
}
[data-md-color-primary="grey"] .md-header, [data-md-color-primary="grey"] .md-hero {
    background-color: rgb(88, 95, 99); 
}
[data-md-color-primary="grey"] .md-nav__link--active, [data-md-color-primary="grey"] .md-nav__link:active {
    color: rgb(158, 150, 137); 
}
[data-md-color-primary="grey"] .md-nav__item--nested > .md-nav__link {
    color: inherit; 
}
button[data-md-color-primary="blue-grey"] {
    background-color: rgb(67, 88, 98); 
}
[data-md-color-primary="blue-grey"] .md-typeset a {
    color: rgb(167, 159, 148); 
}
[data-md-color-primary="blue-grey"] .md-header, [data-md-color-primary="blue-grey"] .md-hero {
    background-color: rgb(67, 88, 98); 
}
[data-md-color-primary="blue-grey"] .md-nav__link--active, [data-md-color-primary="blue-grey"] .md-nav__link:active {
    color: rgb(167, 159, 148); 
}
[data-md-color-primary="blue-grey"] .md-nav__item--nested > .md-nav__link {
    color: inherit; 
}
button[data-md-color-primary="white"] {
    box-shadow: rgba(0, 0, 0, 0.54) 0px 0px 0.05rem inset; 
}
[data-md-color-primary="white"] .md-header, [data-md-color-primary="white"] .md-hero, button[data-md-color-primary="white"] {
    background-color: rgb(24, 26, 27);
    color: rgba(232, 230, 227, 0.87); 
}
[data-md-color-primary="white"] .md-hero--expand {
    border-bottom-color: rgba(140, 130, 115, 0.07); 
}
button[data-md-color-accent="red"] {
    background-color: rgb(190, 0, 37); 
}
[data-md-color-accent="red"] .md-typeset a:active, [data-md-color-accent="red"] .md-typeset a:hover {
    color: rgb(255, 42, 83); 
}
[data-md-color-accent="red"] .md-typeset .codehilite pre::-webkit-scrollbar-thumb:hover, [data-md-color-accent="red"] .md-typeset pre code::-webkit-scrollbar-thumb:hover {
    background-color: rgb(190, 0, 37); 
}
[data-md-color-accent="red"] .md-nav__link:focus, [data-md-color-accent="red"] .md-nav__link:hover, [data-md-color-accent="red"] .md-typeset .footnote li:hover .footnote-backref:hover, [data-md-color-accent="red"] .md-typeset .footnote li:target .footnote-backref, [data-md-color-accent="red"] .md-typeset .md-clipboard:active::before, [data-md-color-accent="red"] .md-typeset .md-clipboard:hover::before, [data-md-color-accent="red"] .md-typeset [id] .headerlink:focus, [data-md-color-accent="red"] .md-typeset [id]:hover .headerlink:hover, [data-md-color-accent="red"] .md-typeset [id]:target .headerlink {
    color: rgb(255, 42, 83); 
}
[data-md-color-accent="red"] .md-search__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(190, 0, 37); 
}
[data-md-color-accent="red"] .md-search-result__link:hover, [data-md-color-accent="red"] .md-search-result__link[data-md-state="active"] {
    background-color: rgba(190, 0, 37, 0.1); 
}
[data-md-color-accent="red"] .md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(190, 0, 37); 
}
[data-md-color-accent="red"] .md-source-file:hover::before {
    background-color: rgb(190, 0, 37); 
}
button[data-md-color-accent="pink"] {
    background-color: rgb(196, 0, 70); 
}
[data-md-color-accent="pink"] .md-typeset a:active, [data-md-color-accent="pink"] .md-typeset a:hover {
    color: rgb(255, 33, 112); 
}
[data-md-color-accent="pink"] .md-typeset .codehilite pre::-webkit-scrollbar-thumb:hover, [data-md-color-accent="pink"] .md-typeset pre code::-webkit-scrollbar-thumb:hover {
    background-color: rgb(196, 0, 70); 
}
[data-md-color-accent="pink"] .md-nav__link:focus, [data-md-color-accent="pink"] .md-nav__link:hover, [data-md-color-accent="pink"] .md-typeset .footnote li:hover .footnote-backref:hover, [data-md-color-accent="pink"] .md-typeset .footnote li:target .footnote-backref, [data-md-color-accent="pink"] .md-typeset .md-clipboard:active::before, [data-md-color-accent="pink"] .md-typeset .md-clipboard:hover::before, [data-md-color-accent="pink"] .md-typeset [id] .headerlink:focus, [data-md-color-accent="pink"] .md-typeset [id]:hover .headerlink:hover, [data-md-color-accent="pink"] .md-typeset [id]:target .headerlink {
    color: rgb(255, 33, 112); 
}
[data-md-color-accent="pink"] .md-search__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(196, 0, 70); 
}
[data-md-color-accent="pink"] .md-search-result__link:hover, [data-md-color-accent="pink"] .md-search-result__link[data-md-state="active"] {
    background-color: rgba(196, 0, 70, 0.1); 
}
[data-md-color-accent="pink"] .md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(196, 0, 70); 
}
[data-md-color-accent="pink"] .md-source-file:hover::before {
    background-color: rgb(196, 0, 70); 
}
button[data-md-color-accent="purple"] {
    background-color: rgb(141, 3, 165); 
}
[data-md-color-accent="purple"] .md-typeset a:active, [data-md-color-accent="purple"] .md-typeset a:hover {
    color: rgb(225, 71, 251); 
}
[data-md-color-accent="purple"] .md-typeset .codehilite pre::-webkit-scrollbar-thumb:hover, [data-md-color-accent="purple"] .md-typeset pre code::-webkit-scrollbar-thumb:hover {
    background-color: rgb(141, 3, 165); 
}
[data-md-color-accent="purple"] .md-nav__link:focus, [data-md-color-accent="purple"] .md-nav__link:hover, [data-md-color-accent="purple"] .md-typeset .footnote li:hover .footnote-backref:hover, [data-md-color-accent="purple"] .md-typeset .footnote li:target .footnote-backref, [data-md-color-accent="purple"] .md-typeset .md-clipboard:active::before, [data-md-color-accent="purple"] .md-typeset .md-clipboard:hover::before, [data-md-color-accent="purple"] .md-typeset [id] .headerlink:focus, [data-md-color-accent="purple"] .md-typeset [id]:hover .headerlink:hover, [data-md-color-accent="purple"] .md-typeset [id]:target .headerlink {
    color: rgb(225, 71, 251); 
}
[data-md-color-accent="purple"] .md-search__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(141, 3, 165); 
}
[data-md-color-accent="purple"] .md-search-result__link:hover, [data-md-color-accent="purple"] .md-search-result__link[data-md-state="active"] {
    background-color: rgba(141, 3, 165, 0.1); 
}
[data-md-color-accent="purple"] .md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(141, 3, 165); 
}
[data-md-color-accent="purple"] .md-source-file:hover::before {
    background-color: rgb(141, 3, 165); 
}
button[data-md-color-accent="deep-purple"] {
    background-color: rgb(42, 0, 158); 
}
[data-md-color-accent="deep-purple"] .md-typeset a:active, [data-md-color-accent="deep-purple"] .md-typeset a:hover {
    color: rgb(126, 79, 255); 
}
[data-md-color-accent="deep-purple"] .md-typeset .codehilite pre::-webkit-scrollbar-thumb:hover, [data-md-color-accent="deep-purple"] .md-typeset pre code::-webkit-scrollbar-thumb:hover {
    background-color: rgb(42, 0, 158); 
}
[data-md-color-accent="deep-purple"] .md-nav__link:focus, [data-md-color-accent="deep-purple"] .md-nav__link:hover, [data-md-color-accent="deep-purple"] .md-typeset .footnote li:hover .footnote-backref:hover, [data-md-color-accent="deep-purple"] .md-typeset .footnote li:target .footnote-backref, [data-md-color-accent="deep-purple"] .md-typeset .md-clipboard:active::before, [data-md-color-accent="deep-purple"] .md-typeset .md-clipboard:hover::before, [data-md-color-accent="deep-purple"] .md-typeset [id] .headerlink:focus, [data-md-color-accent="deep-purple"] .md-typeset [id]:hover .headerlink:hover, [data-md-color-accent="deep-purple"] .md-typeset [id]:target .headerlink {
    color: rgb(126, 79, 255); 
}
[data-md-color-accent="deep-purple"] .md-search__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(42, 0, 158); 
}
[data-md-color-accent="deep-purple"] .md-search-result__link:hover, [data-md-color-accent="deep-purple"] .md-search-result__link[data-md-state="active"] {
    background-color: rgba(42, 0, 158, 0.1); 
}
[data-md-color-accent="deep-purple"] .md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(42, 0, 158); 
}
[data-md-color-accent="deep-purple"] .md-source-file:hover::before {
    background-color: rgb(42, 0, 158); 
}
button[data-md-color-accent="indigo"] {
    background-color: rgb(1, 24, 154); 
}
[data-md-color-accent="indigo"] .md-typeset a:active, [data-md-color-accent="indigo"] .md-typeset a:hover {
    color: rgb(84, 156, 254); 
}
[data-md-color-accent="indigo"] .md-typeset .codehilite pre::-webkit-scrollbar-thumb:hover, [data-md-color-accent="indigo"] .md-typeset pre code::-webkit-scrollbar-thumb:hover {
    background-color: rgb(1, 24, 154); 
}
[data-md-color-accent="indigo"] .md-nav__link:focus, [data-md-color-accent="indigo"] .md-nav__link:hover, [data-md-color-accent="indigo"] .md-typeset .footnote li:hover .footnote-backref:hover, [data-md-color-accent="indigo"] .md-typeset .footnote li:target .footnote-backref, [data-md-color-accent="indigo"] .md-typeset .md-clipboard:active::before, [data-md-color-accent="indigo"] .md-typeset .md-clipboard:hover::before, [data-md-color-accent="indigo"] .md-typeset [id] .headerlink:focus, [data-md-color-accent="indigo"] .md-typeset [id]:hover .headerlink:hover, [data-md-color-accent="indigo"] .md-typeset [id]:target .headerlink {
    color: rgb(84, 156, 254); 
}
[data-md-color-accent="indigo"] .md-search__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(1, 24, 154); 
}
[data-md-color-accent="indigo"] .md-search-result__link:hover, [data-md-color-accent="indigo"] .md-search-result__link[data-md-state="active"] {
    background-color: rgba(1, 24, 154, 0.1); 
}
[data-md-color-accent="indigo"] .md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(1, 24, 154); 
}
[data-md-color-accent="indigo"] .md-source-file:hover::before {
    background-color: rgb(1, 24, 154); 
}
button[data-md-color-accent="blue"] {
    background-color: rgb(0, 61, 163); 
}
[data-md-color-accent="blue"] .md-typeset a:active, [data-md-color-accent="blue"] .md-typeset a:hover {
    color: rgb(73, 165, 255); 
}
[data-md-color-accent="blue"] .md-typeset .codehilite pre::-webkit-scrollbar-thumb:hover, [data-md-color-accent="blue"] .md-typeset pre code::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 61, 163); 
}
[data-md-color-accent="blue"] .md-nav__link:focus, [data-md-color-accent="blue"] .md-nav__link:hover, [data-md-color-accent="blue"] .md-typeset .footnote li:hover .footnote-backref:hover, [data-md-color-accent="blue"] .md-typeset .footnote li:target .footnote-backref, [data-md-color-accent="blue"] .md-typeset .md-clipboard:active::before, [data-md-color-accent="blue"] .md-typeset .md-clipboard:hover::before, [data-md-color-accent="blue"] .md-typeset [id] .headerlink:focus, [data-md-color-accent="blue"] .md-typeset [id]:hover .headerlink:hover, [data-md-color-accent="blue"] .md-typeset [id]:target .headerlink {
    color: rgb(73, 165, 255); 
}
[data-md-color-accent="blue"] .md-search__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 61, 163); 
}
[data-md-color-accent="blue"] .md-search-result__link:hover, [data-md-color-accent="blue"] .md-search-result__link[data-md-state="active"] {
    background-color: rgba(0, 61, 163, 0.1); 
}
[data-md-color-accent="blue"] .md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 61, 163); 
}
[data-md-color-accent="blue"] .md-source-file:hover::before {
    background-color: rgb(0, 61, 163); 
}
button[data-md-color-accent="light-blue"] {
    background-color: rgb(0, 116, 187); 
}
[data-md-color-accent="light-blue"] .md-typeset a:active, [data-md-color-accent="light-blue"] .md-typeset a:hover {
    color: rgb(40, 173, 255); 
}
[data-md-color-accent="light-blue"] .md-typeset .codehilite pre::-webkit-scrollbar-thumb:hover, [data-md-color-accent="light-blue"] .md-typeset pre code::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 116, 187); 
}
[data-md-color-accent="light-blue"] .md-nav__link:focus, [data-md-color-accent="light-blue"] .md-nav__link:hover, [data-md-color-accent="light-blue"] .md-typeset .footnote li:hover .footnote-backref:hover, [data-md-color-accent="light-blue"] .md-typeset .footnote li:target .footnote-backref, [data-md-color-accent="light-blue"] .md-typeset .md-clipboard:active::before, [data-md-color-accent="light-blue"] .md-typeset .md-clipboard:hover::before, [data-md-color-accent="light-blue"] .md-typeset [id] .headerlink:focus, [data-md-color-accent="light-blue"] .md-typeset [id]:hover .headerlink:hover, [data-md-color-accent="light-blue"] .md-typeset [id]:target .headerlink {
    color: rgb(40, 173, 255); 
}
[data-md-color-accent="light-blue"] .md-search__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 116, 187); 
}
[data-md-color-accent="light-blue"] .md-search-result__link:hover, [data-md-color-accent="light-blue"] .md-search-result__link[data-md-state="active"] {
    background-color: rgba(0, 116, 187, 0.1); 
}
[data-md-color-accent="light-blue"] .md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 116, 187); 
}
[data-md-color-accent="light-blue"] .md-source-file:hover::before {
    background-color: rgb(0, 116, 187); 
}
button[data-md-color-accent="cyan"] {
    background-color: rgb(0, 147, 170); 
}
[data-md-color-accent="cyan"] .md-typeset a:active, [data-md-color-accent="cyan"] .md-typeset a:hover {
    color: rgb(56, 229, 255); 
}
[data-md-color-accent="cyan"] .md-typeset .codehilite pre::-webkit-scrollbar-thumb:hover, [data-md-color-accent="cyan"] .md-typeset pre code::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 147, 170); 
}
[data-md-color-accent="cyan"] .md-nav__link:focus, [data-md-color-accent="cyan"] .md-nav__link:hover, [data-md-color-accent="cyan"] .md-typeset .footnote li:hover .footnote-backref:hover, [data-md-color-accent="cyan"] .md-typeset .footnote li:target .footnote-backref, [data-md-color-accent="cyan"] .md-typeset .md-clipboard:active::before, [data-md-color-accent="cyan"] .md-typeset .md-clipboard:hover::before, [data-md-color-accent="cyan"] .md-typeset [id] .headerlink:focus, [data-md-color-accent="cyan"] .md-typeset [id]:hover .headerlink:hover, [data-md-color-accent="cyan"] .md-typeset [id]:target .headerlink {
    color: rgb(56, 229, 255); 
}
[data-md-color-accent="cyan"] .md-search__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 147, 170); 
}
[data-md-color-accent="cyan"] .md-search-result__link:hover, [data-md-color-accent="cyan"] .md-search-result__link[data-md-state="active"] {
    background-color: rgba(0, 147, 170, 0.1); 
}
[data-md-color-accent="cyan"] .md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 147, 170); 
}
[data-md-color-accent="cyan"] .md-source-file:hover::before {
    background-color: rgb(0, 147, 170); 
}
button[data-md-color-accent="teal"] {
    background-color: rgb(0, 153, 132); 
}
[data-md-color-accent="teal"] .md-typeset a:active, [data-md-color-accent="teal"] .md-typeset a:hover {
    color: rgb(70, 255, 230); 
}
[data-md-color-accent="teal"] .md-typeset .codehilite pre::-webkit-scrollbar-thumb:hover, [data-md-color-accent="teal"] .md-typeset pre code::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 153, 132); 
}
[data-md-color-accent="teal"] .md-nav__link:focus, [data-md-color-accent="teal"] .md-nav__link:hover, [data-md-color-accent="teal"] .md-typeset .footnote li:hover .footnote-backref:hover, [data-md-color-accent="teal"] .md-typeset .footnote li:target .footnote-backref, [data-md-color-accent="teal"] .md-typeset .md-clipboard:active::before, [data-md-color-accent="teal"] .md-typeset .md-clipboard:hover::before, [data-md-color-accent="teal"] .md-typeset [id] .headerlink:focus, [data-md-color-accent="teal"] .md-typeset [id]:hover .headerlink:hover, [data-md-color-accent="teal"] .md-typeset [id]:target .headerlink {
    color: rgb(70, 255, 230); 
}
[data-md-color-accent="teal"] .md-search__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 153, 132); 
}
[data-md-color-accent="teal"] .md-search-result__link:hover, [data-md-color-accent="teal"] .md-search-result__link[data-md-state="active"] {
    background-color: rgba(0, 153, 132, 0.1); 
}
[data-md-color-accent="teal"] .md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 153, 132); 
}
[data-md-color-accent="teal"] .md-source-file:hover::before {
    background-color: rgb(0, 153, 132); 
}
button[data-md-color-accent="green"] {
    background-color: rgb(0, 160, 66); 
}
[data-md-color-accent="green"] .md-typeset a:active, [data-md-color-accent="green"] .md-typeset a:hover {
    color: rgb(64, 255, 143); 
}
[data-md-color-accent="green"] .md-typeset .codehilite pre::-webkit-scrollbar-thumb:hover, [data-md-color-accent="green"] .md-typeset pre code::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 160, 66); 
}
[data-md-color-accent="green"] .md-nav__link:focus, [data-md-color-accent="green"] .md-nav__link:hover, [data-md-color-accent="green"] .md-typeset .footnote li:hover .footnote-backref:hover, [data-md-color-accent="green"] .md-typeset .footnote li:target .footnote-backref, [data-md-color-accent="green"] .md-typeset .md-clipboard:active::before, [data-md-color-accent="green"] .md-typeset .md-clipboard:hover::before, [data-md-color-accent="green"] .md-typeset [id] .headerlink:focus, [data-md-color-accent="green"] .md-typeset [id]:hover .headerlink:hover, [data-md-color-accent="green"] .md-typeset [id]:target .headerlink {
    color: rgb(64, 255, 143); 
}
[data-md-color-accent="green"] .md-search__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 160, 66); 
}
[data-md-color-accent="green"] .md-search-result__link:hover, [data-md-color-accent="green"] .md-search-result__link[data-md-state="active"] {
    background-color: rgba(0, 160, 66, 0.1); 
}
[data-md-color-accent="green"] .md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 160, 66); 
}
[data-md-color-accent="green"] .md-source-file:hover::before {
    background-color: rgb(0, 160, 66); 
}
button[data-md-color-accent="light-green"] {
    background-color: rgb(80, 177, 18); 
}
[data-md-color-accent="light-green"] .md-typeset a:active, [data-md-color-accent="light-green"] .md-typeset a:hover {
    color: rgb(124, 234, 54); 
}
[data-md-color-accent="light-green"] .md-typeset .codehilite pre::-webkit-scrollbar-thumb:hover, [data-md-color-accent="light-green"] .md-typeset pre code::-webkit-scrollbar-thumb:hover {
    background-color: rgb(80, 177, 18); 
}
[data-md-color-accent="light-green"] .md-nav__link:focus, [data-md-color-accent="light-green"] .md-nav__link:hover, [data-md-color-accent="light-green"] .md-typeset .footnote li:hover .footnote-backref:hover, [data-md-color-accent="light-green"] .md-typeset .footnote li:target .footnote-backref, [data-md-color-accent="light-green"] .md-typeset .md-clipboard:active::before, [data-md-color-accent="light-green"] .md-typeset .md-clipboard:hover::before, [data-md-color-accent="light-green"] .md-typeset [id] .headerlink:focus, [data-md-color-accent="light-green"] .md-typeset [id]:hover .headerlink:hover, [data-md-color-accent="light-green"] .md-typeset [id]:target .headerlink {
    color: rgb(124, 234, 54); 
}
[data-md-color-accent="light-green"] .md-search__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(80, 177, 18); 
}
[data-md-color-accent="light-green"] .md-search-result__link:hover, [data-md-color-accent="light-green"] .md-search-result__link[data-md-state="active"] {
    background-color: rgba(80, 177, 18, 0.1); 
}
[data-md-color-accent="light-green"] .md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(80, 177, 18); 
}
[data-md-color-accent="light-green"] .md-source-file:hover::before {
    background-color: rgb(80, 177, 18); 
}
button[data-md-color-accent="lime"] {
    background-color: rgb(139, 187, 0); 
}
[data-md-color-accent="lime"] .md-typeset a:active, [data-md-color-accent="lime"] .md-typeset a:hover {
    color: rgb(200, 255, 40); 
}
[data-md-color-accent="lime"] .md-typeset .codehilite pre::-webkit-scrollbar-thumb:hover, [data-md-color-accent="lime"] .md-typeset pre code::-webkit-scrollbar-thumb:hover {
    background-color: rgb(139, 187, 0); 
}
[data-md-color-accent="lime"] .md-nav__link:focus, [data-md-color-accent="lime"] .md-nav__link:hover, [data-md-color-accent="lime"] .md-typeset .footnote li:hover .footnote-backref:hover, [data-md-color-accent="lime"] .md-typeset .footnote li:target .footnote-backref, [data-md-color-accent="lime"] .md-typeset .md-clipboard:active::before, [data-md-color-accent="lime"] .md-typeset .md-clipboard:hover::before, [data-md-color-accent="lime"] .md-typeset [id] .headerlink:focus, [data-md-color-accent="lime"] .md-typeset [id]:hover .headerlink:hover, [data-md-color-accent="lime"] .md-typeset [id]:target .headerlink {
    color: rgb(200, 255, 40); 
}
[data-md-color-accent="lime"] .md-search__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(139, 187, 0); 
}
[data-md-color-accent="lime"] .md-search-result__link:hover, [data-md-color-accent="lime"] .md-search-result__link[data-md-state="active"] {
    background-color: rgba(139, 187, 0, 0.1); 
}
[data-md-color-accent="lime"] .md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(139, 187, 0); 
}
[data-md-color-accent="lime"] .md-source-file:hover::before {
    background-color: rgb(139, 187, 0); 
}
button[data-md-color-accent="yellow"] {
    background-color: rgb(204, 171, 0); 
}
[data-md-color-accent="yellow"] .md-typeset a:active, [data-md-color-accent="yellow"] .md-typeset a:hover {
    color: rgb(255, 218, 26); 
}
[data-md-color-accent="yellow"] .md-typeset .codehilite pre::-webkit-scrollbar-thumb:hover, [data-md-color-accent="yellow"] .md-typeset pre code::-webkit-scrollbar-thumb:hover {
    background-color: rgb(204, 171, 0); 
}
[data-md-color-accent="yellow"] .md-nav__link:focus, [data-md-color-accent="yellow"] .md-nav__link:hover, [data-md-color-accent="yellow"] .md-typeset .footnote li:hover .footnote-backref:hover, [data-md-color-accent="yellow"] .md-typeset .footnote li:target .footnote-backref, [data-md-color-accent="yellow"] .md-typeset .md-clipboard:active::before, [data-md-color-accent="yellow"] .md-typeset .md-clipboard:hover::before, [data-md-color-accent="yellow"] .md-typeset [id] .headerlink:focus, [data-md-color-accent="yellow"] .md-typeset [id]:hover .headerlink:hover, [data-md-color-accent="yellow"] .md-typeset [id]:target .headerlink {
    color: rgb(255, 218, 26); 
}
[data-md-color-accent="yellow"] .md-search__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(204, 171, 0); 
}
[data-md-color-accent="yellow"] .md-search-result__link:hover, [data-md-color-accent="yellow"] .md-search-result__link[data-md-state="active"] {
    background-color: rgba(204, 171, 0, 0.1); 
}
[data-md-color-accent="yellow"] .md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(204, 171, 0); 
}
[data-md-color-accent="yellow"] .md-source-file:hover::before {
    background-color: rgb(204, 171, 0); 
}
button[data-md-color-accent="amber"] {
    background-color: rgb(204, 137, 0); 
}
[data-md-color-accent="amber"] .md-typeset a:active, [data-md-color-accent="amber"] .md-typeset a:hover {
    color: rgb(255, 179, 26); 
}
[data-md-color-accent="amber"] .md-typeset .codehilite pre::-webkit-scrollbar-thumb:hover, [data-md-color-accent="amber"] .md-typeset pre code::-webkit-scrollbar-thumb:hover {
    background-color: rgb(204, 137, 0); 
}
[data-md-color-accent="amber"] .md-nav__link:focus, [data-md-color-accent="amber"] .md-nav__link:hover, [data-md-color-accent="amber"] .md-typeset .footnote li:hover .footnote-backref:hover, [data-md-color-accent="amber"] .md-typeset .footnote li:target .footnote-backref, [data-md-color-accent="amber"] .md-typeset .md-clipboard:active::before, [data-md-color-accent="amber"] .md-typeset .md-clipboard:hover::before, [data-md-color-accent="amber"] .md-typeset [id] .headerlink:focus, [data-md-color-accent="amber"] .md-typeset [id]:hover .headerlink:hover, [data-md-color-accent="amber"] .md-typeset [id]:target .headerlink {
    color: rgb(255, 179, 26); 
}
[data-md-color-accent="amber"] .md-search__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(204, 137, 0); 
}
[data-md-color-accent="amber"] .md-search-result__link:hover, [data-md-color-accent="amber"] .md-search-result__link[data-md-state="active"] {
    background-color: rgba(204, 137, 0, 0.1); 
}
[data-md-color-accent="amber"] .md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(204, 137, 0); 
}
[data-md-color-accent="amber"] .md-source-file:hover::before {
    background-color: rgb(204, 137, 0); 
}
button[data-md-color-accent="orange"] {
    background-color: rgb(204, 116, 0); 
}
[data-md-color-accent="orange"] .md-typeset a:active, [data-md-color-accent="orange"] .md-typeset a:hover {
    color: rgb(255, 156, 26); 
}
[data-md-color-accent="orange"] .md-typeset .codehilite pre::-webkit-scrollbar-thumb:hover, [data-md-color-accent="orange"] .md-typeset pre code::-webkit-scrollbar-thumb:hover {
    background-color: rgb(204, 116, 0); 
}
[data-md-color-accent="orange"] .md-nav__link:focus, [data-md-color-accent="orange"] .md-nav__link:hover, [data-md-color-accent="orange"] .md-typeset .footnote li:hover .footnote-backref:hover, [data-md-color-accent="orange"] .md-typeset .footnote li:target .footnote-backref, [data-md-color-accent="orange"] .md-typeset .md-clipboard:active::before, [data-md-color-accent="orange"] .md-typeset .md-clipboard:hover::before, [data-md-color-accent="orange"] .md-typeset [id] .headerlink:focus, [data-md-color-accent="orange"] .md-typeset [id]:hover .headerlink:hover, [data-md-color-accent="orange"] .md-typeset [id]:target .headerlink {
    color: rgb(255, 156, 26); 
}
[data-md-color-accent="orange"] .md-search__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(204, 116, 0); 
}
[data-md-color-accent="orange"] .md-search-result__link:hover, [data-md-color-accent="orange"] .md-search-result__link[data-md-state="active"] {
    background-color: rgba(204, 116, 0, 0.1); 
}
[data-md-color-accent="orange"] .md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(204, 116, 0); 
}
[data-md-color-accent="orange"] .md-source-file:hover::before {
    background-color: rgb(204, 116, 0); 
}
button[data-md-color-accent="deep-orange"] {
    background-color: rgb(166, 40, 0); 
}
[data-md-color-accent="deep-orange"] .md-typeset a:active, [data-md-color-accent="deep-orange"] .md-typeset a:hover {
    color: rgb(255, 115, 70); 
}
[data-md-color-accent="deep-orange"] .md-typeset .codehilite pre::-webkit-scrollbar-thumb:hover, [data-md-color-accent="deep-orange"] .md-typeset pre code::-webkit-scrollbar-thumb:hover {
    background-color: rgb(166, 40, 0); 
}
[data-md-color-accent="deep-orange"] .md-nav__link:focus, [data-md-color-accent="deep-orange"] .md-nav__link:hover, [data-md-color-accent="deep-orange"] .md-typeset .footnote li:hover .footnote-backref:hover, [data-md-color-accent="deep-orange"] .md-typeset .footnote li:target .footnote-backref, [data-md-color-accent="deep-orange"] .md-typeset .md-clipboard:active::before, [data-md-color-accent="deep-orange"] .md-typeset .md-clipboard:hover::before, [data-md-color-accent="deep-orange"] .md-typeset [id] .headerlink:focus, [data-md-color-accent="deep-orange"] .md-typeset [id]:hover .headerlink:hover, [data-md-color-accent="deep-orange"] .md-typeset [id]:target .headerlink {
    color: rgb(255, 115, 70); 
}
[data-md-color-accent="deep-orange"] .md-search__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(166, 40, 0); 
}
[data-md-color-accent="deep-orange"] .md-search-result__link:hover, [data-md-color-accent="deep-orange"] .md-search-result__link[data-md-state="active"] {
    background-color: rgba(166, 40, 0, 0.1); 
}
[data-md-color-accent="deep-orange"] .md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
    background-color: rgb(166, 40, 0); 
}
[data-md-color-accent="deep-orange"] .md-source-file:hover::before {
    background-color: rgb(166, 40, 0);
}
@media only screen and (max-width: 59.9375em) {
    [data-md-color-primary="red"] .md-nav__source {
        background-color: rgba(152, 53, 51, 0.97); 
    }
    [data-md-color-primary="pink"] .md-nav__source {
        background-color: rgba(148, 19, 63, 0.97); 
    }
    [data-md-color-primary="purple"] .md-nav__source {
        background-color: rgba(109, 46, 120, 0.97); 
    }
    [data-md-color-primary="deep-purple"] .md-nav__source {
        background-color: rgba(80, 55, 123, 0.97); 
    }
    [data-md-color-primary="indigo"] .md-nav__source {
        background-color: rgba(40, 51, 115, 0.97); 
    }
    [data-md-color-primary="blue"] .md-nav__source {
        background-color: rgba(21, 95, 154, 0.97); 
    }
    [data-md-color-primary="light-blue"] .md-nav__source {
        background-color: rgba(2, 107, 155, 0.97); 
    }
    [data-md-color-primary="cyan"] .md-nav__source {
        background-color: rgba(0, 120, 135, 0.97); 
    }
    [data-md-color-primary="teal"] .md-nav__source {
        background-color: rgba(0, 95, 86, 0.97); 
    }
    [data-md-color-primary="green"] .md-nav__source {
        background-color: rgba(48, 111, 51, 0.97); 
    }
    [data-md-color-primary="light-green"] .md-nav__source {
        background-color: rgba(79, 114, 42, 0.97); 
    }
    [data-md-color-primary="lime"] .md-nav__source {
        background-color: rgba(122, 129, 33, 0.97); 
    }
    [data-md-color-primary="yellow"] .md-nav__source {
        background-color: rgba(158, 107, 23, 0.97); 
    }
    [data-md-color-primary="amber"] .md-nav__source {
        background-color: rgba(162, 102, 0, 0.97); 
    }
    [data-md-color-primary="orange"] .md-nav__source {
        background-color: rgba(160, 89, 0, 0.97); 
    }
    [data-md-color-primary="deep-orange"] .md-nav__source {
        background-color: rgba(162, 70, 42, 0.97); 
    }
    [data-md-color-primary="brown"] .md-nav__source {
        background-color: rgba(77, 54, 46, 0.97); 
    }
    [data-md-color-primary="grey"] .md-nav__source {
        background-color: rgba(70, 76, 79, 0.97); 
    }
    [data-md-color-primary="blue-grey"] .md-nav__source {
        background-color: rgba(54, 70, 78, 0.97); 
    }
    [data-md-color-primary="white"] .md-nav__source {
        background-color: rgba(0, 0, 0, 0.07);
        color: rgba(232, 230, 227, 0.87);
    }
}
@media only screen and (max-width: 76.1875em) {
    html [data-md-color-primary="red"] .md-nav--primary .md-nav__title--site {
        background-color: rgb(152, 16, 14); 
    }
    html [data-md-color-primary="pink"] .md-nav--primary .md-nav__title--site {
        background-color: rgb(181, 18, 73); 
    }
    html [data-md-color-primary="purple"] .md-nav--primary .md-nav__title--site {
        background-color: rgb(134, 54, 148); 
    }
    html [data-md-color-primary="deep-purple"] .md-nav--primary .md-nav__title--site {
        background-color: rgb(82, 50, 138); 
    }
    html [data-md-color-primary="indigo"] .md-nav--primary .md-nav__title--site {
        background-color: rgb(50, 65, 145); 
    }
    html [data-md-color-primary="blue"] .md-nav--primary .md-nav__title--site {
        background-color: rgb(10, 106, 182); 
    }
    html [data-md-color-primary="light-blue"] .md-nav--primary .md-nav__title--site {
        background-color: rgb(2, 135, 195); 
    }
    html [data-md-color-primary="cyan"] .md-nav--primary .md-nav__title--site {
        background-color: rgb(0, 150, 170); 
    }
    html [data-md-color-primary="teal"] .md-nav--primary .md-nav__title--site {
        background-color: rgb(0, 120, 109); 
    }
    html [data-md-color-primary="green"] .md-nav--primary .md-nav__title--site {
        background-color: rgb(61, 140, 64); 
    }
    html [data-md-color-primary="light-green"] .md-nav--primary .md-nav__title--site {
        background-color: rgb(99, 143, 53); 
    }
    html [data-md-color-primary="lime"] .md-nav--primary .md-nav__title--site {
        background-color: rgb(154, 162, 41); 
    }
    html [data-md-color-primary="yellow"] .md-nav--primary .md-nav__title--site {
        background-color: rgb(180, 113, 5); 
    }
    html [data-md-color-primary="amber"] .md-nav--primary .md-nav__title--site {
        background-color: rgb(204, 128, 0); 
    }
    html [data-md-color-primary="orange"] .md-nav--primary .md-nav__title--site {
        background-color: rgb(201, 112, 0); 
    }
    html [data-md-color-primary="deep-orange"] .md-nav--primary .md-nav__title--site {
        background-color: rgb(164, 39, 0); 
    }
    html [data-md-color-primary="brown"] .md-nav--primary .md-nav__title--site {
        background-color: rgb(97, 68, 58); 
    }
    html [data-md-color-primary="grey"] .md-nav--primary .md-nav__title--site {
        background-color: rgb(88, 95, 99); 
    }
    html [data-md-color-primary="blue-grey"] .md-nav--primary .md-nav__title--site {
        background-color: rgb(67, 88, 98); 
    }
    html [data-md-color-primary="white"] .md-nav--primary .md-nav__title--site {
        background-color: rgb(24, 26, 27);
        color: rgba(232, 230, 227, 0.87); 
    }
    [data-md-color-primary="white"] .md-hero {
        border-bottom-color: rgba(140, 130, 115, 0.07);
    }
}
@media only screen and (min-width: 76.25em) {
    [data-md-color-primary="red"] .md-tabs {
        background-color: rgb(152, 16, 14); 
    }
    [data-md-color-primary="pink"] .md-tabs {
        background-color: rgb(181, 18, 73); 
    }
    [data-md-color-primary="purple"] .md-tabs {
        background-color: rgb(134, 54, 148); 
    }
    [data-md-color-primary="deep-purple"] .md-tabs {
        background-color: rgb(82, 50, 138); 
    }
    [data-md-color-primary="indigo"] .md-tabs {
        background-color: rgb(50, 65, 145); 
    }
    [data-md-color-primary="blue"] .md-tabs {
        background-color: rgb(10, 106, 182); 
    }
    [data-md-color-primary="light-blue"] .md-tabs {
        background-color: rgb(2, 135, 195); 
    }
    [data-md-color-primary="cyan"] .md-tabs {
        background-color: rgb(0, 150, 170); 
    }
    [data-md-color-primary="teal"] .md-tabs {
        background-color: rgb(0, 120, 109); 
    }
    [data-md-color-primary="green"] .md-tabs {
        background-color: rgb(61, 140, 64); 
    }
    [data-md-color-primary="light-green"] .md-tabs {
        background-color: rgb(99, 143, 53); 
    }
    [data-md-color-primary="lime"] .md-tabs {
        background-color: rgb(154, 162, 41); 
    }
    [data-md-color-primary="yellow"] .md-tabs {
        background-color: rgb(180, 113, 5); 
    }
    [data-md-color-primary="amber"] .md-tabs {
        background-color: rgb(204, 128, 0); 
    }
    [data-md-color-primary="orange"] .md-tabs {
        background-color: rgb(201, 112, 0); 
    }
    [data-md-color-primary="deep-orange"] .md-tabs {
        background-color: rgb(164, 39, 0); 
    }
    [data-md-color-primary="brown"] .md-tabs {
        background-color: rgb(97, 68, 58); 
    }
    [data-md-color-primary="grey"] .md-tabs {
        background-color: rgb(88, 95, 99); 
    }
    [data-md-color-primary="blue-grey"] .md-tabs {
        background-color: rgb(67, 88, 98); 
    }
    [data-md-color-primary="white"] .md-tabs {
        border-bottom-color: rgba(140, 130, 115, 0.07);
        background-color: rgb(24, 26, 27);
        color: rgba(232, 230, 227, 0.87);
    }
}
@media only screen and (min-width: 60em) {
    [data-md-color-primary="white"] .md-search__input {
        background-color: rgba(0, 0, 0, 0.07); 
    }
    [data-md-color-primary="white"] .md-search__input::-webkit-input-placeholder {
        color: rgba(232, 230, 227, 0.54); 
    }
    [data-md-color-primary="white"] .md-search__input::placeholder {
        color: rgba(232, 230, 227, 0.54);
    }
}
